{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
    <h1>Modifier le profil</h1>

    {{ form_start(form) }}

    {{ form_row(form.pseudo) }}
    {{ form_row(form.description) }}
    {{ form_row(form.email) }}

    <button type="submit">Enregistrer</button>
    <button><a href="{{ path('app_change_password') }}">Modifier le mot de passe</a></button>

    {{ form_end(form) }}
{% endblock %}
